@font-face {
	font-family: 'MPLUS-Regular';
	src: url('../../public/fonts/MPLUSRounded1c-Regular.ttf');
}

@font-face {
	font-family: 'MPLUS-Medium';
	src: url('../../public/fonts/MPLUSRounded1c-Medium.ttf');
}

@font-face {
	font-family: 'Open Sans';
	src: url('../../public/fonts/OpenSans.ttf');
}

body {
  margin: 0;
  overflow: hidden;
	font-family: 'Open Sans';
}

a {
  text-decoration: none;
  color: #fff;
}

h2 {
  margin: 0;
}