@font-face {
	font-family: 'MPLUS-Regular';
	src: url('../../public/fonts/MPLUSRounded1c-Regular.ttf');
}

@font-face {
	font-family: 'MPLUS-Medium';
	src: url('../../public/fonts/MPLUSRounded1c-Medium.ttf');
}